@charset "UTF-8";
/**
 * 
 * @authors lg (you@example.org)
 * @date    2017-06-11 15:25:53
 * @version 1.0
 */
*{margin:0;padding:0;}
html{height:100%;}
body{
	height:100%; 
	background:#023b3b url(../img/bg.png) no-repeat center;
	overflow:hidden;
	perspective:800px;
}
#wrapper{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate3d(0,0,-1500px) rotateX(0deg) rotateY(0deg);
	transform-style:preserve-3d;
}

#wrapper .card{
	position:absolute;
	top:-80px;
	left:-60px;
	width:120px;
	height:160px;
	font-size:60px;
	color:#fff;
	text-align:center;
	line-height:160px;
	background-color:rgba(0,127,127,0.5);
	border:1px solid rgba(127,255,255,0.25);
	box-shadow:0 0 12px rgba(0,255,255,0.5);
	transition:transform 4s ease-in-out;
	cursor:pointer;
}
#wrapper .card:hover{
	border:1px solid rgba(127,255,255,0.5);
	box-shadow:0 0 16px rgba(0,255,255,0.9);
}

#menu{
	position:absolute;
	top:calc(100% - 80px);
	left:40px;
	width:500px;
	height:40px;
}
#menu ul li{
	float:left;
	margin:0 10px;
	width:80px;
	height:40px;
	font-size:16px;
	color:#fff;
	text-align:center;
	line-height:40px;
	border:1px solid rgba(127,255,255,0.25);
	box-shadow:0 0 12px rgba(0,255,255,0.5);
	list-style: none;
	cursor:pointer;
}
#menu ul li:hover{
	border:1px solid rgba(127,255,255,0.5);
	box-shadow:0 0 12px rgba(0,255,255,0.75);
}